.user-list {
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}



.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card {
  position: relative;
  width: 100px;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #333;
}

.avatar-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-id {
  position: absolute;
  top: -15px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  font-size: 0.8rem;
}

.first-name {
  margin-top: 1rem;
}

.search-bar {
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-size: 0.5rem;
}

.search-icon {
  font-size: 2rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

.user-list-input{
  height: 45px;
  font-size: 1.5rem;
}

body {
  background-color: #EDEDED;
}

